extends layout

block content



  //-------------------------------- Background image

  .p-5.text-center.bg-image(style="\
    background-image: url('../images/beach003.jpg');\
    height: 400px;\
    ")
    .mask(style='background-color: rgba(0, 0, 0, 0.2);')
      .d-flex.justify-content-center.align-items-center.h-100
        .text-white
          h2.mb-3
            | &quot;-Welcome to Travel ExperT4-&quot;
            h1.mb-3.display-1 Business Performance 
            a.btn.btn-outline-light.btn-lg(href='packages' role='button') Vacation Packages

  //------- Business performance data page----------
  .body1.container-fluid
    h1 Travel ExperT4 Business Performance Data At a Glance
    
    iframe(src=serverOne, frameborder="0" style='width:100%; height :1200px;') 